.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bms_search
{
  margin-top: 50px;
  display: flex;
  padding: 15px
}

.bms_search__logo
{
  height: 50px;
  width: auto;
  margin-right: 25px;
}

.bms_search__input
{
  flex-grow: 1;
}

.bms_search__select
{
  width: 250px;
  padding-left: 10px;
}

.bms_shows__container
{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding-top: 20px;
}

.bms_shows__card
{
  flex-basis: calc(25% - 20px);
  padding: 0 10;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bms_shows__card_content
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}

.bms_shows__card_title
{
  display: flex;
  justify-content: space-between;
}

@media only screen and ( max-width: 600px ) {
  .bms_shows__card
  {
    flex-basis: calc(100%);
    padding: 0;
  }
}

@media only screen and ( max-width: 1020px ) {
  .bms_shows__card
  {
    flex-basis: calc((100%/2) - 20px);
  }
}